        :root {
            --primary-color: #38b6a1;
            --primary-background:#f0f0f0c7;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }

        html {
            scroll-behavior: smooth;
        }


        /*LOADER*/

        /* *********************/
        /* seccion I N I C I O */
        /* *********************/

        #inicio {
            background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/programacion_web_desarrollador.jpg");
            background-size: cover;
            background-position: center center;
            height: 100vh;
        }

        #inicio .contenido header {
            background-color: rgba(0, 0, 0, .8);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }

        #inicio .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        #inicio .contenido header .contenido-header h2 {
            text-align: center;
            color: var(--primary-color);
        }

        #inicio .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
        }

        #inicio .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: #fff;
            margin: 0 12px;
            font-weight: 400;
            transition: .5s;
        }

        #inicio .contenido header .contenido-header nav ul li a:hover {
            color: var(--primary-color);
        }

        #inicio .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
        }

        #inicio .contenido header .contenido-header .redes a:hover {
            color: var(--primary-color);
        }

        #inicio .contenido header .contenido-header .seleccionado {
            color: var(--primary-color);
        }

        #inicio .contenido .presentacion {
            max-width: 1100px;
            height: 100vh;
            margin: auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #inicio .contenido .presentacion .bienvenida {
            font-size: 16px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        #inicio .contenido .presentacion h1 {
            font-size: 55px;
            margin-bottom: 25px;
            text-align: center;
        }

        #inicio .contenido .presentacion h1 span {
            font-size: 25px;
            color: var(--primary-color);
        }

        #inicio .contenido .presentacion .conocimientos {
            font-size: 20px;
            text-align: center;
        }

        #inicio .contenido .presentacion .descripcion {
            max-width: 700px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
        }

        #inicio .contenido .presentacion a {
            text-decoration: none;
            display: inline-block;
            margin: 25px;
            padding: 20px 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
        }

        #inicio .contenido .presentacion a:hover {
            background-color: var(--primary-color);
        }

        #icono-nav {
            color: #fff;
            display: none;
        }

        /* *********************/
        /* carpeta P R O Y E C T O S */
        /* *********************/

        #proyectos {
            background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/programacion_web_desarrollador.jpg");
            background-size: cover;
            background-position: center center;
            height: 40vh;
            position: relative;
        }

        #proyectos .contenido header {
            background-color: rgba(0, 0, 0, .8);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }

        #proyectos .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        #proyectos .contenido header .contenido-header h2 {
            text-align: center;
            color: var(--primary-color);
        }

        #proyectos .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
        }

        #proyectos .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: #fff;
            margin: 0 12px;
            font-weight: 400;
            transition: .5s;
        }

        #proyectos .contenido header .contenido-header nav ul li a:hover {
            color: var(--primary-color);
        }

        #proyectos .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
        }

        #proyectos .contenido header .contenido-header .redes a:hover {
            color: var(--primary-color);
        }

        #proyectos .contenido header .contenido-header .seleccionado {
            color: var(--primary-color);
        }

        #proyectos .contenido .presentacion {
            position: absolute;
            font-size: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
        }

        #icono-nav {
            color: #fff;
            display: none;
        }




        /* *********************/
        /* seccion S O B R E  M I */
        /* *********************/

        #sobremi {
            
            max-width: 1100px;
            margin: auto;
            padding: 100px 15px;
            color: #111135;
            display: flex;
        }

        #sobremi .contenedor-foto {
            max-width: 400px;
            margin-right: 80px;
        }

        #sobremi .contenedor-foto img {
            padding: 20px;
            width: 110%;
            border-radius: 20px;
            background-color: #f3f3f3;
        }

        #sobremi .sobremi {
            margin: 0 40px;
        }

        #sobremi .sobremi .titulo-seccion {
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }

        #sobremi .sobremi h2 {
            font-size: 34px;
            font-weight: bold;
            margin: 20px 0;
            letter-spacing: 2px;
        }

        #sobremi .sobremi h2 span {
            color: var(--primary-color);
        }

        #sobremi .sobremi h3 {
            font-size: 18px;
            font-weight: 500;
            text-align: justify;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }

        #sobremi .sobremi p {
            font-size: 16px;
            text-align: justify;
            line-height: 25px;
            color: #565656;
            margin-bottom: 12px;
        }

        #sobremi .sobremi a {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #000;
            border-radius: 30px;
            border: 1px solid #000;
            padding: 10px 20px;
            margin-top: 30px;
            transition: .5s;
            margin: 0 auto;
        }

        #sobremi .sobremi a:hover {
            background-color: var(--primary-color);
            color: #fff;
        }


        /**********************/
        /* SECCION CURRICULUM */
        /**********************/
        .curriculum {
            background-color: var(--primary-background);
            color: #000000;
            padding: 50px 20px;
        }

        .curriculum .contenido-seccion {
            max-width: 1100px;
            margin: auto;
        }

        .curriculum h2 {
            font-size: 20px;
            text-align: center;
            padding: 20px 0;
            line-height: 25px;
            margin-bottom: 12px;

        }

        .curriculum .fila {
            display: flex;
            justify-content: space-between;
        }

        .curriculum .fila .col {
            width: 49%;
            padding: 0 20px;
        }


        .curriculum .fila .izquierda {
            border-right: 2px solid rgb(124, 182, 182);
        }

        .curriculum .fila .derecha {
            border-left: 2px solid rgb(124, 182, 182);
        }

        .curriculum .fila .item {
            padding: 25px;
            margin-bottom: 30px;
            background-color: rgb(17, 43, 43);
            position: relative;
        }

        .curriculum .fila .item h4 {
            font-size: 19px;
            margin-bottom: 10px;
            color: rgb(255, 255, 255);
        }

        .curriculum .fila .item .casa {
            color: var(--primary-color);
            font-size: 17px;
            font-weight: bold;
            display: block;
        }

        .curriculum .fila .item .fecha {
            display: block;
            color: var(--primary-color);
            margin-bottom: 10px;
        }

        .curriculum .fila .item p {
            line-height: 24px;
            color: rgb(255, 255, 255);
            text-align: justify;
        }

        .curriculum .fila .izq {
            border-right: 2px solid var(--primary-color);
            margin-right: 20px;
        }

        .curriculum .fila .der {
            border-left: 2px solid var(--primary-color);
            margin-left: 20px;
        }

        .curriculum .fila .item .conectori {
            height: 2px;
            background-color: var(--primary-color);
            width: 47px;
            position: absolute;
            top: 50%;
            right: -47px;
            z-index: 5;
        }

        .curriculum .fila .item .conectori .circuloi {
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: var(--primary-color);
            float: right;
            position: relative;
            bottom: 4px;
        }

        .curriculum .fila .item .conectord {
            height: 2px;
            background-color: var(--primary-color);
            width: 47px;
            position: absolute;
            top: 50%;
            left: -47px;
            z-index: 5;
        }

        .curriculum .fila .item .conectord .circulod {
            display: block;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: var(--primary-color);
            float: left;
            position: relative;
            bottom: 4px;
        }



        /* *********************/
        /* seccion S E R V I C I O S */
        /* *********************/

        #servicios {
            padding: 100px 15px;
            text-align: center;
            background-color: var(--primary-background);
        }

        #servicios .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }

        #servicios .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }

        #servicios .fila .servicio {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }

        #servicios .fila .servicio:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }

        #servicios .fila .servicio .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }

        #servicios .fila .servicio h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }

        #servicios .fila .servicio hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }

        #servicios .fila .servicio ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }

        #servicios .fila .servicio p {
            font-size: 14px;
            line-height: 22px;
            text-align: justify;
        }

        /* *********************/
        /* seccion S K I L L S */
        /* *********************/

        .contenedor-skills {
            background: linear-gradient(#2d8a7a, rgba(34, 16, 16, 0.8)), url("../img/desarrollo_web_bosque_naturaleza.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
        }

        .contenedor-skills .skill {
            max-width: 600px;
            margin: 30px auto;
        }

        .contenedor-skills .skill .info {
            display: flex;
            justify-content: space-between;
        }

        .contenedor-skills .skill .lista {
            display: inline-block;
            margin-right: 20px;
            height: 10px;
            width: 10px;
            background-color: #fff;
        }

        .contenedor-skills .skill .barra {
            background-color: #919191;
            width: 100%;
            height: 6px;
            margin: 10px 0px;
        }

        .contenedor-skills .skill .barra .barra-progreso95 {
            background-color: #fff;
            width: 95%;
            height: 6px;
            animation: progreso95 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso90 {
            background-color: #fff;
            width: 90%;
            height: 6px;
            animation: progreso90 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso85 {
            background-color: #fff;
            width: 85%;
            height: 6px;
            animation: progreso85 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso80 {
            background-color: #fff;
            width: 80%;
            height: 6px;
            animation: progreso80 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso75 {
            background-color: #fff;
            width: 75%;
            height: 6px;
            animation: progreso75 2s forwards;
        }

        @keyframes progreso95 {
            0% {
                width: 0;
            }

            100% {
                width: 95%;
            }
        }

        @keyframes progreso90 {
            0% {
                width: 0;
            }

            100% {
                width: 90%;
            }
        }

        @keyframes progreso85 {
            0% {
                width: 0;
            }

            100% {
                width: 85%;
            }
        }

        @keyframes progreso80 {
            0% {
                width: 0;
            }

            100% {
                width: 80%;
            }
        }

        @keyframes progreso75 {
            0% {
                width: 0;
            }

            100% {
                width: 75%;
            }
        }

        /* *********************/
        /* seccion P O R T F O L I O */
        /* *********************/

        #portfolio {
            max-width: 1100px;
            padding: 100px 0;
            margin: auto;
        }

        #portfolio .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }

        #portfolio .fila {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
        }

        #portfolio .fila .proyecto {
            max-width: 450px;
            border: 1px solid #000;
            margin: 0 10px;
            position: relative;
            overflow: hidden;
        }

        #portfolio .fila .proyecto img {
            width: 100%;
            height: 100%;
            ;
            filter: grayscale(1);
            object-fit: cover;
            transition: .5s;
        }

        #portfolio .fila .proyecto:hover img {
            filter: grayscale(0);
        }

        #portfolio .fila .proyecto .info {
            position: absolute;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.8);
            color: var(--primary-color);
            width: 100%;
            padding: 10px;
            opacity: 0;
            bottom: -40px;
            transition: .5s;
        }

        #portfolio .fila .proyecto:hover .info {
            opacity: 1;
            bottom: 0;
        }

        /* *********************/
        /* seccion C O N T A C T O */
        /* *********************/

        #contacto {
            background: linear-gradient(#2d8a7a, rgba(34, 16, 16, 0.8)), url("../img/medio-de-contacto-informacion-desarrollo.gif");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #fff;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
        }

        .medio-contacto .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #ffffff;
            text-decoration: underline;
            text-decoration-color: #d3d3d3;
            text-decoration-thickness: 5px;
        }

        .container-form {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
            padding: 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 50px;
            margin-top: 10px;
            margin-bottom: 20px;
            text-align: center;
        }

        .container-form h2 {
            margin-bottom: 15px;
            font-size: 35px
        }


        .container-form .oracion {
            font-size: 17px;
            line-height: 1.6;
            margin-bottom: 30px;
        }

        .container-form .contact {
            font-size: 17px;
            display: inline-block;
            text-decoration: none;
            width: 100%;
            margin-bottom: 15px;
            color: rgb(255, 255, 255);
            font-weight: 700;
        }

        .container-form .contact i {
            color: var(--primary-color);
            margin-right: 10px;
        }

        .container-form .redes-sociales a {
            color: var(--primary-color);
            font-size: 30px;
            padding-right: 15px;
        }


        .container-form form .campo,
        textarea {
            width: 100%;
            padding: 15px 10px;
            font-size: 16px;
            border: 1px solid #dbdbdb;
            margin-bottom: 20px;
            border-radius: 15px;
            outline: 0px;
        }

        .container-form form textarea {
            max-width: 530px;
            min-width: 530px;
            max-height: 150px;
        }

        .container-form .btn-enviar {
            padding: 15px;
            font-size: 16px;
            border: none;
            outline: 0px;
            background: var(--primary-color);
            color: white;
            border-radius: 3px;
            cursor: pointer;
            margin: 0 auto;
            display: block;
            text-align: center;
            transition: all 300ms ease;
        }

        .container-form .btn-enviar:hover {
            background: #1e5e53;
        }


        /*Ocultar*/
        .ocultar {
            visibility: hidden;
        }

        /* *********************/
        /* seccion F O O T E R */
        /* *********************/

        footer {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 30px 0;
        }

        footer a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin: 5px;
            font-size: 26px;
        }

        /* *********************/
        /* seccion R E S P O N S I V E */
        /* *********************/


        @media screen and (max-width: 1100px) {
            #servicios .fila .servicio ul {
                flex-direction: column;
                align-items: center;
            }

            #servicios .fila .servicio ul li {
                width: 100%;
                padding: 2px;
                text-align: center;
            }

        }

        @media screen and (max-width:1020px){
            #inicio .contenido header .contenido-header {
                max-width: 90%;
            }
        
            #inicio .contenido header .contenido-header h2 {
                font-size: 23px;
            }
        
            #inicio .contenido header .contenido-header nav ul li a {
                font-size: 14px;
                margin: 0 8px;
            }
        }

        @media screen and (max-width: 900px) {
            .redes {
                display: none;
            }

            nav {
                display: none;
            }

            nav.responsive {
                display: block;
                background-color: rgba(0, 0, 0, .8);
                width: 100%;
                position: absolute;
                top: 48px;
                left: 0;
                padding: 10px 0;
            }

            nav.responsive ul {
                display: block !important;
                text-align: center;
            }

            nav.responsive ul li {
                margin: 5px 0;
            }

            #icono-nav {
                display: block;
            }

            #inicio .contenido .presentacion h1 {
                font-size: 40px;
            }

            #proyectos .contenido .presentacion {
                font-size: 30px;
            }


            /* seccion SOBRE MI */
            #sobremi {
                padding: 50px 0;
                display: block;
            }

            #sobremi .contenedor-foto {
                max-width: 200px;
                margin: auto;
            }

            #sobremi .contenedor-foto img {
                padding: 8px;
            }

            #sobremi .sobremi .titulo-seccion {
                text-align: center;
            }

            #sobremi .sobremi h2 {
                font-size: 25px;
                text-align: center;
            }

            /* seccion MIS SERVICIOS */
            #servicios {
                padding: 50px 15px;
            }

            #servicios .fila {
                display: block;
            }

            #servicios .fila .servicio {
                margin: 10px auto;
            }


            /* seccion HABLIDADES MI */
            .contenedor-skills {
                padding: 50px 20px;
            }

            /* seccion PORTFOLIO */
            #portfolio {
                padding: 50px 0;
            }

            #portfolio .fila {
                display: block;
            }

            #portfolio .fila .proyecto {
                margin: 10px auto;
            }
        }

        @media (max-width: 768px) {
            .container-form {
                grid-template-columns: 1fr;
            }

            .curriculum .fila{
                display: block;
            }
            .curriculum .fila .col{
                width: 100%;
            }
            .curriculum .fila .derecha{
                margin-left: 20px;
            }
            
        }

        @media (max-width: 480px) {
            .container-form {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }


            .container-form form .campo,
            .container-form form textarea {
                width: 100%;
            }

            .container-form form textarea {
                max-width: 100%;
                min-width: 100%;
            }

            .container-form .btn-enviar {
                width: 100%;
            }
            .curriculum {
                
                padding: 50px 10px;
            }

            .curriculum .fila .item {
                padding: 15px;
                
            }

            .curriculum .fila .item h4 {
                text-align: center;
                font-size: 16px;
            }
            .curriculum .fila .item .casa {
                font-size: 14px;
            }

            .curriculum .fila .item p{
                font-size: 13px;
            }
        }